body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* styling menu icon */
.nav-menu{
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: darkseagreen;
}
/* styling navbar links  */
.navbar-nav a{
    color: black;   
    position: relative;
}

.navbar-nav a:hover{
    color: darkseagreen;
}
.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: darkseagreen;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  /* styling contact btn  */
.c-btn{
    border: none;
    background: darkseagreen;
    color: #fff;
    font-size: 1.2rem;
} 

/* Home Styling */

.home{
    background: linear-gradient(33deg, rgba(242, 242, 255, 1) 0%, rgba(242, 242, 255, 1) 100%);
    padding: 30px 0px 10px 0px;
}

.home h2{
    font-size: 3rem;
    line-height: 4rem;
}

.c-orange{
    color: slateblue;
    font-weight: 700;
    font-size: 4rem;
}

.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.h-btn:hover{
    background: red;
    color: #fff;
    transform: translateY(-20px);
    transition-duration: 1s;
}

.home img{
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translateX(0);}
    50% { transform: translateX(-24px);}
    100% {transform: translateX(0);}
}